@import '../../../sass/variables';

.home {
  display: flex;
  margin: 4rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.nav {
  width: 30%;
  background-color: $color-dark;
}

.main {
  flex: 1;
}
